<ion-view title="Prodotto" id="page13" class="background-color-body">
  <ion-nav-title class="title-custom">Info Prodotto</ion-nav-title>

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <!--<ion-content overflow-scroll="true" padding="true" class="has-header">-->
  <ion-scroll direction="y" style="right:0; bottom:0; left:0; position:absolute;" class="has-header" class="background-color-body">
    <div class="list">

      <a class="item item-field">
        Prodotto
        <span class="item-note item-content" ng-model="product.name"></span>
      </a>

      <label class="item item-input">
        <span class="input-label SF-regular">Prodotto<small><sup>*</sup></small></span>
        <input type="text" ng-model="product.name">
      </label>
      <label class="item item-input">
        <span class="input-label SF-regular">Quantità<small><sup>*</sup></small></span>
        <input type="text" ng-model="product.qty">
      </label>
      <label class="item item-input">
        <span class="input-label SF-regular">Unità<small><sup>*</sup></small></span>
        <input type="text" ng-model="product.unit.unit_name">
      </label>
      <label class="item item-input">
        <span class="input-label SF-regular">Marca</span>
        <input type="text" ng-model="product.brand">
      </label>
      <label class="item item-input">
        <span class="input-label SF-regular">Fascia di prezzo</span>
        <input type="text" ng-model="product.price_range">
      </label>
      <label class="item item-input">
        <span class="input-label SF-regular">Altri dettagli</span>
        <input type="text" ng-model="product.other">
      </label>
    </div>

  </ion-scroll>
</ion-view>
