<ion-view title="Fai una commissione" id="page18B" class="background-color-body">
  <ion-nav-title class="title-custom">Fai una commissione</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <!--<button class="button button-small icon-color SF-regular" ui-sref="FilterListOnMap">FILTRA</button>-->
  </ion-nav-buttons>
  <div class="tabs-striped tabs-top tabs-background-color tabs-color-light">
    <div class="tabs">
      <a class="tab-item" ng-click="goto_map()">
        Cerca
      </a>
      <a class="tab-item active" ui-sref="#">
        Spese
      </a>
    </div>
  </div>

  <ion-content class="overflow-scroll has-header has-tabs">
    <!-- MAPS LINK GENERATOR: http://embedgooglemaps.com/it/ -->

    <div class="list" style='top: 49px'>
      <div class="item item-divider item-title background-color-list-item-divider" style="border-top-color: transparent;">
        <br>
        CONFERMATE
      </div>
      <h5 class="SF-thin center" ng-show="accepted_lists.length == 0">NESSUNA LISTA CONFERMATA</h5>
      <a class="item item-field" ng-repeat="list in accepted_lists" ng-click="view_confirmed_list(list)">
        Lista {{list.name}}
        <span class="item-note item-content">{{list.items.length}} pezzi</span>
      </a>

      <div class="item item-divider item-title background-color-list-item-divider">
        <br>
        PROPOSTE
      </div>
      <h5 class="SF-thin center" ng-show="bidden_lists.length == 0">NESSUNA LISTA PROPOSTA</h5>
      <a class="item item-field" ng-repeat="list in bidden_lists" ng-click="view_bidden_list(list)">
        Lista {{list.name}}
        <span class="item-note item-content">{{list.items.length}} pezzi</span>
      </a>
    </div>

  </ion-content>
</ion-view>
